<span class="execution_time">
  <b>{{ search_for }}</b>
  <span>{{ __('in', labels) }} {{ execution_time|number_format(2, ',', '.') }} ms</span>
</span>

{% for meaning in meanings %}

  {% set senses = meaning|split('|') %}
  {% set length = senses|length %}
  
  {% if length > 2 %}
    <li class="thesaurus_item thesaurus_submenu">
      
      <button type="button" class="thesaurus_button">
        <span class="thesaurus_text">{{ senses[0] ~ ' ' ~ senses[1] }}</span>
      </button>
      
      <menu class="thesaurus_menu thesaurus_side">
        {% for sense in senses[1:] %}
          <li class="thesaurus_item">
            <button type="button" class="thesaurus_button">
              <span word="{{ sense|trim }}" class="thesaurus_text">{{ sense|trim }}</span>
            </button>
          </li>
        {% endfor %}
      </menu>

    </li>
  {% else %}
    <li class="thesaurus_item">
      <button type="button" class="thesaurus_button">
        <span word="{{ sense|trim }}" class="thesaurus_text">{{ meaning|trim }}</span>
      </button>
    </li>
  {% endif %}

{% endfor %}